<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="con" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Sorna\Desktop\ADO.NET Project\PlantShopSln\PlantShop\CustomerDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>